.card {
  display: block;
  position: relative;
  width: 640px;
  height: 214px;
  border: 1px solid rgba(228, 244, 251, 0.3);
  backdrop-filter: blur(50px);
  border-radius: 16px;
  max-width: 100%;
}
