.heading {
  background: linear-gradient(180deg, #fff, #72ad2ef5 200.83%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  line-height: 60px;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  width: 240px;
  height: 48px;
  border-radius: 12px;
  border: 1px solid rgba(228, 244, 251, 30%);
  color: rgba(255, 255, 255, 0.8);
  margin: 0 auto 64px;
  padding: 0 12px;
  font-size: 14px;
  gap: 8px;
  transition: all 0.2s ease-in-out;

  &::before {
    content: '';
    position: absolute;
    left: 1rem;
    right: 1rem;
    top: -1px;
    height: 1px;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(228, 244, 251, 60%) 80%,
      rgba(0, 0, 0, 0) 100%
    );
    border-radius: 16px;
  }

  &:focus-within {
    border-color: rgba(228, 244, 251, 60%);
  }
}

.search-input {
  display: flex;
  height: calc(100% - 2px);
  flex: 1;
  outline: none;
  background-color: transparent;
  border: none;

  &::placeholder, .option, .select {
    color: rgba(255, 255, 255, 0.5);
  }
}

.search-icon {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
}
.select{
height: calc(100% - 2px);
  outline: none;
   background: transparent;
  border: none;
  padding: 0 10px;
  color: rgba(255, 255, 255, 0.8);

}
