<div class="text-center">
  <div class="heading mb-4 text-5xl font-extrabold drop-shadow-md">
    Construisez votre avenir
    <div class="text-3xl">Un répertoire d'entreprises par la communauté</div>
  </div>
  <div class="fade-in mb-4 text-lg drop-shadow-md">
    Vous cherchez un stage ou un nouvel emploi ?
    <br />
    Notre répertoire d'entreprises, alimenté par la communauté, est votre allié
    idéal.
  </div>

  <div class="fade-in search">
    <ng-icon class="search-icon" name="bootstrapSearch" />
    <input
      type="text"
      class="search-input"
      placeholder="Chercher des entreprises..."
      [(ngModel)]="keyword"
    />
  </div>
</div>

@for (entreprise of filteredEntreprises(); track entreprise) {
  <app-entreprise-card [entreprise]="entreprise" />
}
