<div class="text-center">
  <app-navbar></app-navbar>
  <div class="heading mb-4 text-3xl font-extrabold drop-shadow-md sm:text-5xl">
    Construisez votre avenir
    <div class="text-xl sm:text-3xl">
      Un répertoire d'entreprises par la communauté
    </div>
  </div>
  <div class="fade-in mb-4 text-base drop-shadow-md sm:text-lg">
    Vous cherchez un stage ou un nouvel emploi ?
    <br />
    Notre répertoire d'entreprises, alimenté par la communauté, est votre allié
    idéal.
  </div>
  <div>
    <div class="fade-in search">
      <ng-icon class="search-icon" name="bootstrapBuilding" />
      <input
        type="text"
        class="search-input"
        placeholder="Nom entreprise"
        [(ngModel)]="keyword"
      />
    </div>
    <div class="fade-in search">
      <ng-icon class="search-icon" name="bootstrapStack" />
      <input
        type="text"
        class="search-input"
        placeholder="Technologie"
        [(ngModel)]="technology"
      />
    </div>
    <select
      [(ngModel)]="city"
      title="villes"
      class="border-none bg-transparent px-2"
    >
      <option value="" class="text-black">Toutes les villes</option>
      @for (city of cities; track city) {
        <option value="{{ city }}" class="text-pretty text-black">
          {{ city }}
        </option>
      }
    </select>
  </div>
    <button (click)="scrollToTop()" class="scroll" title="top">
    &#8679;
  </button>
</div>

@for (entreprise of filteredEntreprises(); track entreprise) {
  <app-entreprise-card [entreprise]="entreprise" />
}
